@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,200;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',serif;
}
h1{

    display: flex;
    text-align: center;
    align-items: center;
    justify-content:center;
animation: anim 2s ease-in-out;
}


@keyframes anim{
0%{
transform: translateZ(-50px);
opacity: 0;
}

100%{
transform: translateX(0px);
opacity: 1;
}

}

.container{


display: flex;
justify-content: center;
align-items: center;
height: 100vh;

    .input-box{

    max-width: 300px;
    background: #fff;
        width: 33rem;
    border-radius: 4px;
    padding-left: 0.5rem;
    overflow: hidden;
  
    font-size: 14px;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
    .prefix{
        font-weight: 300;
        font-size: 14px;
        color: #999;
    }
    input{
    flex-grow: 1;
    font-size: 14px;
    background: #fff;
    border: none;
    outline: none;
    padding: 0.6rem;
    }
    
    }

    .input-box:focus-within{
        border-color: #777;
    }

}
